

<p>
  Number of potential customer:<br>
  <%= @numberOfPotentialCust %>
</p>

<p>
  Number of all customer:<br>
  <%= @numberOfAllCust %>
</p>



<%= column_chart @data %>
<%= pie_chart @correctPredictNoWithLowConf %>


<script src="https://code.highcharts.com/highcharts.js"></script>


<script>
    $(function () {
        var chart;

        $(document).ready(function () {
            chart = new Highcharts.chart('confidenceNoAll', {

                title: {
                    text: 'Confidence of NO Vs. Number of Customers'
                },
                xAxis: {
                    categories: [

                        <% @confidenceNoLogistic.each do |row|%>
                        <%= row.confidence_no %>,
                        <% end %>

                    ],
                },

                yAxis: {
                    title: {
                        text: 'Number of Customers'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },

                    }
                },

                series: [{
                    name: 'Logistic Regression',
                    data: [
                        <% @confidenceNoLogistic.each do |row|%>
                        // {

                        <%= row.user_count %>,
                        // },
                        <% end %>
                    ]
                },{
                    name: 'Decision Tree',
                    data: [
                        <% @confidenceNoDecisionTree.each do |row|%>
                        // {

                        <%= row.user_count %>,
                        // },
                        <% end %>
                    ]
                }, {
                    name: 'SVM',
                    data: [
                        <% @confidenceNoSVM.each do |row|%>
                        // {

                        <%= row.user_count %>,
                        // },
                        <% end %>
                    ]
                }, {
                    name: 'Deep Learning',
                    data: [
                        <% @confidenceNoDeepLearning.each do |row|%>
                        // {

                        <%= row.user_count %>,
                        // },
                        <% end %>
                    ]
                }
                ],
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        });

    });
</script>

<div id="confidenceNoAll"></div>