<script src="https://d3js.org/d3.v5.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">DST Project</a>
  </div>
  <ul class="navbar-nav mr-auto">
    <li ><%= link_to 'Data Overview', dashboard_index_path, :method => :get, class: "nav-link" %></li>
    <li><%= link_to 'Model Comparison', dashboard_comparison_path, :method => :get, class: "nav-link" %></li>
    <li class="nav-item active"><%= link_to 'Potential Customer', dashboard_logistic_regression_path, :method => :get, class: "nav-link" %></li>
    <li><%= link_to 'Non Potential Customer', dashboard_non_potential_path, :method => :get, class: "nav-link" %></li>
    <li><%= link_to 'Logistic Regression', lr_result_path, :method => :get, class: "nav-link" %></li>
    <li><%= link_to 'Support Vector Machine', svm_result_path, :method => :get, class: "nav-link" %></li>
    <li><%= link_to 'Decision Tree', dt_result_path, :method => :get, class: "nav-link" %></li>
    <li><%= link_to 'Neural Network', nn_result_path, :method => :get, class: "nav-link" %></li>
  </ul>
</nav>



<div class="container">
  <div class="row justify-content-start">
    <div class="col">
      <%= line_chart @ageData, title: "Age", xtitle: "Range (age)", ytitle: "Number of Records", width: "700px", height: "300px" %>
    </div>
    <div class="col">
      <%= pie_chart @housing, :title => "Housing", donut: true, width: "300px", height: "300px", id: 'hs' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= pie_chart @contact, :title => "Contact", donut: true, width: "300px", height: "500px", id: 'cs' %>
    </div>
    <div class="col">
      <%= column_chart @education, :title => "Education", xtitle: "Degree of education", ytitle: "Number of Records", donut: true, width: "700px", height: "500px" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= bar_chart @job, :title => "Occupation", xtitle: "Number of records", ytitle: "Job", width: "300px", height: "500px" %>
    </div>
    <div class="col">
      <%= bar_chart @loan, :title => "Loan", xtitle: "Number of records", ytitle: "Has personal loan?", width: "300px", height: "500px" %>
    </div>
    <div class="col">
      <%= column_chart @marital, :title => "Marital", xtitle: "Marital status", ytitle: "Number of records", width: "300px", height: "500px"%>
    </div>
  </div>
</div>

